<html>
<head>
    <title>Web Pages Comparison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
            html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
            respond.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th><a href="{{first.url}}">{{first.url}}</a></th>
            <th></th>
            <th><a href="{{second.url}}">{{second.url}}</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% set count = categories.important_categories|length + 12 %}
            <td rowspan="{{count}}"><p class="text-center"><strong>text</strong></p></td>
            <td colspan="3"><p class="text-center"><strong>found terms</strong></p></td>
        </tr>

        {% for first_term, second_term in zip(first_terms, second_terms) %}
        <tr>
            <td colspan="2"><p class="text-center">{{first_term[0]}}</p></td>
            <td colspan="2"><p class="text-center">{{second_term[0]}}</p></td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="3"><p class="text-center"><strong>important categories membership (only top 10)</strong></p></td>
        </tr>

        {% for key, value in categories.important_categories.iteritems() %}
        <tr>
            <td><p class="text-center">{{first.content.categories_membership[key]}}</p></td>
            <td><p class="text-center">{{key}}</p></td>
            <td><p class="text-center">{{second.content.categories_membership[key]}}</p></td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="2">Podsumowanie:</td>
            <td colspan="2">{{categories.similarity_result}}</td>
        </tr>
        <tr>
            <td colspan="4"/>
        </tr>
        <tr>
            {% set count = images.image_pairs_results|length + 1 %}
            <td rowspan="{{count}}"><p class="text-center"><strong>images</strong></p></td>
            <td colspan="3"><p class="text-center"><strong>found images</strong></p></td>
        </tr>
        {% for key, value in images.image_pairs_results.iteritems() %}
        <tr>
            <td><img src="{{key[0]}}" max-height="56" max-width="100"  class="img-rounded center-block"></td>
            <td><p class="text-center">{{value}}</p></td>
            <td><img src="{{key[1]}}" max-height="56" max-width="auto" class="img-rounded center-block"></td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="2">Podsumowanie:</td>
            <td colspan="2">{{images.similarity_result}}</td>
        </tr>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
<html>